<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>预约确认单</title>
    <style>
        body{
            width: 960px;
            margin: auto;
        }
        .inline-block{
            display: inline-block;
        }
        .middle{
            vertical-align: middle;
        }
        .center{
            text-align: center;
        }
        .right{
            text-align: right;
        }
        .img{
            margin-left: 230px;
            width: 80px;
            height: 80px;
        }
        .line{
            width: 800px;
            margin: auto;
            height: 0;
            border-top: 2px dashed #999;
            margin-top: 30px;
        }
        .bold{
            font-weight: bold;
            padding-left: 20px;
        }
        .pl20{
            padding-left: 20px;
        }
        table{
            border-collapse:collapse;
            border-spacing:10px;
            /* margin-top: 30px; */
        }
        .table, .table td{
            border:1px solid #999;
        }
        .operator tr,.parent tr{
            width: 960px;
        }
        .operator td,.parent td{
            width: 20px;
        }
        td{
            height: 50px;
        }
        @page {
            margin-bottom: 0mm;
            margin-top: 0mm;
        }
        .hidden td{
            /* visibility: collapse; */
            height: 0;
            /* visibility: hidden; */
            border:0 solid white;
            padding: 0;
        }
    </style>
</head>

<body>
    <div class="header inline-block">
        <img class="middle img" src="https://hainangolffile.yitiandi.net/2021/1/h8_rCgpEZn_b0JWcSehp6JhO.png" alt=""></img>
        <div class="inline-block middle" style="width: 400px;padding-left: 30px;">
            <h2>联合推广套餐预约确认单</h2>
        </div> 
    </div>
    <div>
        <div class="inline-block" style="width:580px; padding-left: 30px;">日期：</div>
        <div class="inline-block" style="width:320px;">预约编号：</div>
    </div>
    <div style="position: relative;">
        <table class="table parent" >
            <tbody class="">
                <tr style="visibility: hidden;" class="hidden">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6" class="center">发件人</td>
                    <td colspan="18" class="center">北京世博天地高尔夫管理顾问有限公司</td>
                    <td colspan="6" class="center">收件人</td>
                    <td colspan="18" class="center">三亚鹿回头、海中海、龙泉高尔夫球会</td>
                </tr>
                <tr>
                    <td colspan="6" class="center">联系电话</td>
                    <td colspan="18" class="center">杨帆</td>
                    <td colspan="6" class="center">联系人</td>
                    <td colspan="18" class="center">预定中心</td>
                </tr>
                <tr>
                    <td colspan="6" class="center">电话</td>
                    <td colspan="18" class="center">18500436321</td>
                    <td colspan="6" class="center">电话</td>
                    <td colspan="18" class="center">0898-88338888</td>
                </tr>
                <tr>
                    <td colspan="6" class="center">传真</td>
                    <td colspan="18" class="center">0316-3082795</td>
                    <td colspan="6" class="center">传真</td>
                    <td colspan="18" class="center">0898-88288966</td>
                </tr>
                <tr>
                    <td colspan="48" class="center">预订信息</td>
                </tr>
                <tr>
                    <td colspan="48">
                        单球抢购：
                        <input type="checkbox" />鹿回头 
                        <input type="checkbox" />海中海 
                        <input type="checkbox" checked/>龙泉谷
                    </td>
                </tr>
                <tr>
                    <td colspan="48">
                        联合推广：
                        <input type="checkbox" />两晚三球套餐
                        <input type="checkbox" checked/>三球套餐
                    </td>
                </tr>
                <tr>
                    <td colspan="24" class="center">套餐数量：2</td>
                    <td colspan="24" class="center">费用总额：757*2人</td>
                </tr>
                <tr>
                    <td colspan="14" class="center">球员姓名</td>
                    <td colspan="10" class="center">抢购码</td>
                    <td colspan="24" class="center">证件号码</td>
                </tr>
                <tr>
                    <td colspan="14" class="center">何静</td>
                    <td colspan="10" class="center">21101572</td>
                    <td colspan="24" class="center"></td>
                </tr>
                <tr>
                    <td colspan="14" class="center">吴玉江</td>
                    <td colspan="10" class="center">21101603</td>
                    <td colspan="24" class="center"></td>
                </tr>
                <tr>
                    <td colspan="14" class="center"></td>
                    <td colspan="10" class="center"></td>
                    <td colspan="24" class="center"></td>
                </tr>
                <tr>
                    <td colspan="14" class="center"></td>
                    <td colspan="10" class="center"></td>
                    <td colspan="24" class="center"></td>
                </tr>
                <tr>
                    <td colspan="6" class="center">球场名称</td>
                    <td colspan="8" class="center">开球日期</td>
                    <td colspan="12" class="center">开球时间</td>
                    <td colspan="22" class="center">其他说明</td>
                </tr>
                <tr>
                    <td colspan="6" class="center">鹿回头</td>
                    <td colspan="8" class="center">2021.4.2</td>
                    <td colspan="12" class="center">14：00</td>
                    <td colspan="22" class="center">其他说明</td>
                </tr>
                <tr>
                    <td colspan="6" class="center">龙泉谷</td>
                    <td colspan="8" class="center">2021.4.2</td>
                    <td colspan="12" class="center">14：00</td>
                    <td colspan="22" class="center">其他说明</td>
                </tr>
                <tr>
                    <td colspan="6" class="center">海中海</td>
                    <td colspan="8" class="center">2021.4.2</td>
                    <td colspan="12" class="center">14：00</td>
                    <td colspan="22" class="center">其他说明</td>
                </tr>
                <tr>
                    <td colspan="14" class="center">酒店名称</td>
                    <td colspan="6" class="center">房间数量</td>
                    <td colspan="6" class="center">房型</td>
                    <td colspan="11" class="center">入住日期</td>
                    <td colspan="11" class="center">退房日期</td>
                </tr>
                <tr>
                    <td colspan="14" class="center"></td>
                    <td colspan="6" class="center"></td>
                    <td colspan="6" class="center"></td>
                    <td colspan="11" class="center"></td>
                    <td colspan="11" class="center"></td>
                </tr>
                <tr>
                    <td colspan="48">特殊要求：</td>
                </tr>
                <tr >
                    <td colspan="48">
                        备注：<br>
                        1.	球会可以接受当天预订；一经预订成功，不得更改或取消。<br>
                        2.	本产品不设退款, 预订有效日期从2021年4月1日至2021年 10月31日前，逾期作废。<br>
                        3.	发送预定单至预订中心（订单上注明抢购码），各自确认回复预定，所有预定以书面确认回复为准。<br>
                        4.	套餐不含交通费用，客户自理。<br>
                        5.	以上套餐不可裸价或分拆分销售，一经发现有权暂停合作。<br>
                        6.	房间入住时间不得早于下午14:30，退房时间不得晚于中午12:00<br>
                        7.	套餐使用说明：<br>
                       <div style="padding-left: 2em;">
                        1)	单球抢购球员前台登记需出示抢购码。<br>
                        2)	套餐必须为同一球员（前台登记需提供身份证）连续使用，原则上日期不得间隔，如遇特殊情况，间隔日期不长，可视情况给予安排，否则将按上述单一打球价格执行。<br>
                        3)	球员必须提前30分钟抵达球会办理登记手续，否则球会有权延迟客人的开球时间或取消当日打球资格，且费用不予退还。<br>
                        4)	打球者差点必须在40以下；避免慢打，请保持正常的打球速度。<br>
                        5)	球场出发员有权为客人配组直至成为4人一组。<br>
                        6)	打球者必须使用球车并且雇佣球僮；服务球僮数量根据球会安排提供，可以安排一对二服务打球者必须遵守球场的服饰要求和球场规定。<br>
                       </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <img style="position: absolute; right: 0; bottom:100px; width: 230px;" src="https://hainangolffile.yitiandi.net/2021/1/wpmcFYW4_odO1p8xTM6GBdFA.png" alt=""></img>
    </div>
</body>

</html>